<h1>Ciao!! sono la view dell'action Index dell' HomeController!!</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ab incidunt, amet beatae architecto suscipit
    voluptatum dolores molestias aspernatur, quas, necessitatibus perspiciatis deleniti? Modi quasi pariatur,
    architecto delectus tempore esse?</p>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nisi voluptas possimus unde voluptatibus
    soluta nesciunt hic quaerat, ipsa esse eaque doloribus impedit provident, ullam dicta! Delectus laudantium earum
    eius.</p>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nisi voluptas possimus unde voluptatibus
    soluta nesciunt hic quaerat, ipsa esse eaque doloribus impedit provident, ullam dicta! Delectus laudantium earum
    eius.</p>
