.author {
    font-style: italic;
    color: darkgrey;
}

.rating {
    color: orange;
    white-space: nowrap;
}

.price {
    color: darkgray;
    font-size: 0.8em;
}

.nav {
    margin-bottom: 3em;
    background-color: rgb(225, 225, 225);
}

.rows {
    border-top: 1px solid rgb(225, 225, 225);
    align-items: center;
}
body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
    height: 87.31px;
    background-color: rgb(225, 225, 225);
}

.content {
    margin-top: 35px;
    text-align: center;
}
