<h1>Catalogo dei corsi</h1><br>
@for (int i = 0; i < 7; i++)
{
    <div class="row rows">
        <div class="col-md-1">
            <img src="~/placeholder.jpg" alt="corso" width="50px">
        </div>
        <div class="col-md-5">
            <h3>Titolo del corso</h3>
            <author class="author">Nome autore</author>
        </div>
        <div class="col-md-2 rating" >
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
            <i class="fa-sharp fa-solid fa-star"></i>
        </div>
        <div class="col-md-2">
            € 10,99 <br /><s class="price">€ 12,99</s>
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="7">Dettaglio corso</a>
        </div>
    </div>
}


